##### json task

In [2]:
import pandas as pd
df_json = pd.read_json("data/iris.json")
print(df_json.select_dtypes("number").mean())
print(df_json.select_dtypes("number").median())
print(df_json.select_dtypes("number").std())

sepalLength    5.843333
sepalWidth     3.057333
petalLength    3.758000
petalWidth     1.199333
dtype: float64
sepalLength    5.80
sepalWidth     3.00
petalLength    4.35
petalWidth     1.30
dtype: float64
sepalLength    0.828066
sepalWidth     0.435866
petalLength    1.765298
petalWidth     0.762238
dtype: float64

##### excel task

In [3]:
df_excel = pd.read_excel('data/titanic.xlsx')
print("Max age:")
print(df_excel["Age"].max())
print("Min age:")
print(df_excel["Age"].min())
print("Sum of ages:")
print(df_excel["Age"].sum())

Max age:
80.0
Min age:
0.42
Sum of ages:
21205.17

##### csv task

In [4]:
df_csv = pd.read_csv('data/movie.csv')
highest_likes_df = df_csv.loc[df_csv["director_facebook_likes"] == df_csv["director_facebook_likes"].max()]
print("The director with highest number of likes:")
print(f"Director:{highest_likes_df.iloc[0]['director_name']}, number of likes {highest_likes_df.iloc[0]['director_facebook_likes']}")
longest_5_movies = df_csv.dropna(subset=["duration"]).sort_values(by="duration", ascending=False).head(5)
print("The 5 longest movies and their direcotrs:")
print(longest_5_movies[["movie_title", "director_name"]])

The director with highest number of likes:
Director:Joseph Gordon-Levitt, number of likes 23000.0
The 5 longest movies and their direcotrs:
                   movie_title        director_name
1694                   Trapped                  NaN
2436                    Carlos                  NaN
1487       Blood In, Blood Out      Taylor Hackford
1134             Heaven's Gate       Michael Cimino
3254  The Legend of Suriyothai  Chatrichalerm Yukol

##### parquet task

In [ ]:
df_parquet = pd.read_parquet("data/flights")
missing_values = df_parquet.isna().sum()
print(missing_values)
df_parquet.select_dtypes("number").fillna(df_parquet.select_dtypes("number").mean(), inplace=True)

Year                      0
Quarter                   0
Month                     0
DayofMonth                0
DayOfWeek                 0
                     ...
Div5WheelsOn        6729125
Div5TotalGTime      6729125
Div5LongestGTime    6729125
Div5WheelsOff       6729125
Div5TailNum         6729125
Length: 109, dtype: int64