##### task1

In [2]:
import pandas as pd
df_json = pd.read_json("data/iris.json")
df_json.columns = [i.lower() for i in df_json.columns]
df_json[['sepallength', 'sepalwidth']]

     sepallength  sepalwidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]

##### task2

In [4]:
df_excel = pd.read_excel("data/titanic.xlsx", sheet_name="Sheet1")
df_age_above30 = df_excel[df_excel["Age"]>30]
print(df_age_above30.shape[0])

305

##### task3

In [ ]:
df_parquet = pd.read_parquet("data/flights")
print(df_parquet[["origin", "dest", "carrier"]])
# parquet_to_csv = df_parquet.to_csv("data/flights", index=False)
unique_destinations = set(df_parquet['dest'])
print(f"Number of unique destinations {len(unique_destinations)}")

KeyError: "None of [Index(['origin', 'dest', 'carrier'], dtype='object')] are in the [columns]"

##### task4

In [ ]:
df_csv = pd.read_csv("data/movie.csv")
filtered_df = df_csv[df_csv["duration"]>120]
filtered_df = filtered_df.dropna(subset=["director_facebook_likes"])
filtered_df = filtered_df.sort_values(by="director_facebook_likes", ascending=False)
print(filtered_df)

      color      director_name  num_critic_for_reviews  duration  \
66    Color  Christopher Nolan                   645.0     152.0
3     Color  Christopher Nolan                   813.0     164.0
120   Color  Christopher Nolan                   478.0     128.0
1222  Color  Christopher Nolan                   341.0     130.0
97    Color  Christopher Nolan                   642.0     148.0
...     ...                ...                     ...       ...
2455  Color      James Cameron                   250.0     154.0
2     Color         Sam Mendes                   602.0     148.0
2476  Color          Sam Raimi                   125.0     121.0
0     Color      James Cameron                   723.0     178.0
1451  Color       Danny DeVito                    32.0     140.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
66                    22000.0                 11000.0      Heath Ledger
3                     22000.0                 23000.0    Christian Bale
120                   22000.0                 11000.0       Liam Neeson
1222                  22000.0                 19000.0      Hugh Jackman
97                    22000.0                 23000.0         Tom Hardy
...                       ...                     ...               ...
2455                      0.0                   604.0       Carrie Henn
2                         0.0                   161.0      Rory Kinnear
2476                      0.0                   244.0     Bridget Fonda
0                         0.0                   855.0  Joel David Moore
1451                      0.0                   210.0        J.T. Walsh

      actor_1_facebook_likes        gross                            genres  \
66                   23000.0  533316061.0       Action|Crime|Drama|Thriller
3                    27000.0  448130642.0                   Action|Thriller
120                  23000.0  205343774.0                  Action|Adventure
1222                 23000.0   53082743.0     Drama|Mystery|Sci-Fi|Thriller
97                   29000.0  292568851.0  Action|Adventure|Sci-Fi|Thriller
...                      ...          ...                               ...
2455                  2000.0   85200000.0           Action|Adventure|Sci-Fi
2                    11000.0  200074175.0         Action|Adventure|Thriller
2476                   989.0   16311763.0              Crime|Drama|Thriller
0                     1000.0  760505847.0   Action|Adventure|Fantasy|Sci-Fi
1451                   436.0   24276500.0             Biography|Crime|Drama

      ... num_user_for_reviews language  country  content_rating       budget  \
66    ...               4667.0  English      USA           PG-13  185000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
120   ...               2685.0  English      USA           PG-13  150000000.0
1222  ...               1100.0  English      USA           PG-13   40000000.0
97    ...               2803.0  English      USA           PG-13  160000000.0
...   ...                  ...      ...      ...             ...          ...
2455  ...               1076.0  English      USA               R   18500000.0
2     ...                994.0  English       UK           PG-13  245000000.0
2476  ...                416.0  English       UK               R   17000000.0
0     ...               3054.0  English      USA           PG-13  237000000.0
1451  ...                 68.0  English      USA               R   35000000.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
66        2008.0                13000.0        9.0          2.35
3         2012.0                23000.0        8.5          2.35
120       2005.0                14000.0        8.3          2.35
1222      2006.0                20000.0        8.5          2.35
97        2010.0                27000.0        8.8          2.35
...          ...                    ...        ...           ...
2455      1986.0                  626.0        8.4          1.85
2         2015.0                  393.0        6.8          2.35
2476      1998.0                  888.0        7.5          1.85
0         2009.0                  936.0        7.9          1.78
1451      1992.0                  263.0        6.6          2.35

     movie_facebook_likes
66                  37000
3                  164000
120                 15000
1222                49000
97                 175000
...                   ...
2455                18000
2                   85000
2476                    0
0                   33000
1451                  949

[1031 rows x 28 columns]