##### titanic.xlsx task

In [2]:
import pandas as pd
df_titanic = pd.read_excel("../data/titanic.xlsx", sheet_name="Sheet1")
result_df = df_titanic.groupby("Pclass").agg({
    "Age":['mean'],
    "Fare":["sum"],
    "Pclass":["size"]
})
new_columns = ["_".join(col) for col in result_df.columns]
result_df.columns = new_columns
result_df= result_df.reset_index()
result_df

   Pclass   Age_mean    Fare_sum  Pclass_size
0       1  38.233441  18177.4125          216
1       2  29.877630   3801.8417          184
2       3  25.140620   6714.6951          491

##### movie.csv task

In [3]:
df_movie_csv = pd.read_csv("../data/movie.csv")
df_gcolor = df_movie_csv.groupby("color").agg({
    "num_critic_for_reviews":["sum"],
    "duration":['mean']
})
df_gdirector = df_movie_csv.groupby("director_name").agg({
    "num_critic_for_reviews":["sum"],
    "duration":['mean']
})
df_gcolor.columns=[ "Total critics", "Average duration"]
df_gcolor = df_gcolor.reset_index()
df_gcolor.columns=["Color", "Total critics", "Average duration"]
df_gdirector.columns=[ "Total critics", "Average duration"]
df_gdirector = df_gdirector.reset_index()
df_gdirector.columns=["Director Name", "Total critics", "Average duration"]
print(df_gcolor)
print(df_gdirector)

             Color  Total critics  Average duration
0  Black and White        25701.0        112.240196
1            Color       645378.0        106.929258
           Director Name  Total critics  Average duration
0          A. Raven Cruz            3.0              97.0
1             Aaron Hann           29.0              87.0
2        Aaron Schneider          160.0             100.0
3          Aaron Seltzer           99.0              85.0
4           Abel Ferrara           48.0              99.0
...                  ...            ...               ...
2392       Zoran Lisinac           17.0             108.0
2393  Álex de la Iglesia           71.0             104.0
2394    Émile Gaudreault           67.0              92.0
2395        Éric Tessier            9.0              99.0
2396       Étienne Faure            9.0              98.0

[2397 rows x 3 columns]

##### flights parquet task

In [5]:
df_flights = pd.read_parquet('../data/flights')

df_flights["ArrDelay"] = pd.to_numeric(df_flights["ArrDelay"], errors="coerce")
df_flights["DepDelay"] = pd.to_numeric(df_flights["DepDelay"], errors="coerce")

df_gyear = df_flights.groupby("Year").agg({
    "Year":["size"],
    "ArrDelay":["mean"],
    "DepDelay":["max"]
})
df_gmonth = df_flights.groupby("Month").agg({
    "Month":["size"],
    "ArrDelay":["mean"],
    "DepDelay":["max"]
})
df_gyear=df_gyear.reset_index()
df_gmonth=df_gmonth.reset_index()

df_gmonth.columns=["Month", "Total flights", "Avg ArrDelay", "Max DepDelay"]
df_gyear.columns=["Year", "Total flights", "Avg ArrDelay", "Max DepDelay"]

print(df_gyear)
print(df_gmonth)

   Year  Total flights  Avg ArrDelay  Max DepDelay
0  2022        6729125      7.035647        3433.0
   Month  Total flights  Avg ArrDelay  Max DepDelay
0      1         537902      3.981085        2512.0
1     10         572287      2.085886        2963.0
2     11         546410      4.708015        3433.0
3     12         557095     13.767535        3169.0
4      2         495713      4.674906        2545.0
5      3         564853      7.087064        2966.0
6      4         556502      8.579072        2366.0
7      5         578819      7.411093        2607.0
8      6         577283     10.677201        2994.0
9      7         594957      9.856325        2556.0
10     8         589810      8.714221        2687.0
11     9         557494      2.404789        2872.0